* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;    font-family: sans-serif;
    color: #333;
}

#num {
    font-size: 100px;
    font-weight: 700;
    margin: 40px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    border: 2px solid rgb(208, 208, 208);
    font-size: 20px;
    font-weight: 700;
    margin: 0 10px;
    cursor: pointer;
}

button:hover {
    background-color: #f1f1f1;
    border: 2px solid rgb(208, 208, 208);
    box-shadow: inset 0px 0px 4px 1px rgb(199, 199, 199);
    color: #333;
}
